<div class="w3-col l8 s12">
	<%= form_for :user, url: "/manager/update", method: :put do |form| %>
	<%= form.hidden_field :id %>
	<%= select_tag "roles", options_for_select( User::ROLES) %><br>
	<%= form.submit  %><br>
	<% end  %>
</div>

