<div class="w3-col l8 s12">
<table class="w3-table-all">
    <thead>
      <tr class="w3-black">

        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthday</th>
        <th>Created at</th>
        <th>Role</th>
        <th>Change Role</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.birthday %></td>
        <td><%= user.created_at %></td>
        <% if user.roles_mask == 1 %>
        <td>admin</td>
        <% else %>
        <td>user</td>
        <%end%>
        <td><%= link_to 'Edit', controller: "manager", action: "edit", id: user %></td>
        <td><%= link_to 'Destroy', user_registration_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <%= paginate @users %>
</div>
