<% content_for(:title, "Sign up ")%>
<div class="w3-col l8 s12">
 <div class="row">
  <div class="col-md-12 col-md-offset-2">
    <div class="w3-container w3-black">
      <h2>Sign up</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|   %>
    <%= devise_error_messages! %>

    <div class="w3-center">
      <div class="w3-bar" style="width: 60%">
        <br/>
        <p>
          <%= f.label :first_name, class: "w3-left" %>
          <%= f.text_field :first_name, autofocus: true, class: "w3-input w3-border" %>
        </p>

        <p>
          <%= f.label :last_name, class: "w3-left" %>
          <%= f.text_field :last_name, autofocus: true, class: "w3-input w3-border" %>
        </p>

        <p>
          <%= f.label :birthday, class: "w3-left" %>
          <%= f.date_field :birthday, autofocus: true, class: "w3-input w3-border" %>
        </p>

        <p>
          <%= f.label :email, class: "w3-left" %>
          <%= f.email_field :email, autofocus: true, class: "w3-input w3-border" %>
        </p>

        <p>
          <%= f.label :password, class: "w3-left" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "w3-input w3-border" %>
        </p>

        <p>
          <%= f.label :email, class: "w3-left" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "w3-input w3-border" %>
        </p>

        <br/>
        <div class="actions">
          <%= f.submit "Sign up", class: "w3-button w3-black" %>
        </div>

      </div>
      <br/>
      <%= render "devise/shared/links" %>
    </div>
    <% end %>
  </div>
</div>
</div>
