<div id='<%= article.id.to_s + '-' + comment.id.to_s %>' style="display: flex;">
  <div class="w3-col l2 m3" style="padding: 8px;">
    <%= image_tag(comment.user.image.url, :alt=>comment.user.first_name, :style=>"width:90px;") %>
  </div>
  <div class="w3-col l10 m9">
    <h4><%= @comment.user.first_name + " " + @comment.user.last_name %> <span class="w3-opacity w3-medium"><%= time_ago_in_words comment.created_at %> ago</span></h4>
    <p id= "comment-<%= comment.id %>"><%= @comment.body %></p><br>
    <% if can? :manage, comment %>
    <p><%= link_to 'Delete', {controller: "comments", action: "destroy", id: @comment, article_id: @article.id}, remote: :true, method: :DELETE, data: { confirm: "Are you sure?"} %>|
      <%= link_to 'Edit',{controller: "comments", action: "edit", id: comment, article_id: article.id}, remote: :true %></p>
      <% end %>
    </div>
  </div>
  <div id="edit-comment-<%= comment.id %>"> </div>