<%= form_for(@comment, url: article_comment_path, remote: :true) do |f| %>
<%= f.text_area :body, :cols =>50, :rows => 1 %>
<% if user_signed_in? %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<% end %>
<br>
<button onclick="cancelComment(<%= @comment.id%>, <%= @comment.article_id%>);" type="button" class="w3-button w3-red">Close</button>
<%= f.submit "Save" ,class: "w3-button w3-black"%>
<% end %>