$("#demo-<%= @article.id%>").append("<%= escape_javascript(render 'comments/comment', comment: @comment, article: @article) %>");
$("#count-comment-<%= @article.id%>").text(<%=@article.comments.size%>);
$("#btn-show-<%= @article.id%>").text("Ẩn bình luận");
document.getElementById("demo-<%= @article.id%>").style.display='block';
document.getElementById(<%= @article.id %>).style.display='none';