$("#comment-<%= @comment.id %>").text("<%= @comment.body %>");
$("#edit-comment-<%= @comment.id %>").remove();
$("#<%= @article.id.to_s + '-' + @comment.id.to_s %>").after("<div id='edit-comment-<%= @comment.id %>'> </div>");