<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @status.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @status.post %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
