
      <h1>Edit article</h1>
      <%= form_for(@article) do |f| %>

      <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div style="margin-bottom: 25px" class="input-group ">
        <%= image_tag @article.image, id:"blah", class:"w3-bar", style:"width: 180px; height: 180px;"  %>
        <%= f.file_field :image, class: "w3-bar-item w3-button", onchange:"readURL(this);" %>
      </div>

      <div class="w3-half">
        <p>
          <%= f.text_field :title, class: "w3-input w3-border", placeholder: :title %>
        </p>
      </div>
      
      <p>
        <%= f.text_area :text, class: "w3-input w3-border", placeholder: :text, style:"height:100px;" %>
      </p>

      <div class="w3-bar w3-right" style="width:30%; margin:auto;">
        <%= link_to 'Back', articles_path, class: "w3-bar-item w3-button w3-gray", style: "width:50%"%>
        <%= f.submit("Save", class: "w3-bar-item w3-button w3-blue",style: "width:50%" )%>
      </div>
      <% end %>
