
  <h1>Listing articles</h1>
  <br>
  <%= link_to 'New article', new_article_path,class: "w3-button w3-blue"  %>
  <table class="w3-table-all">
    <thead>
      <tr class="w3-black">

        <th>Title</th>
        <th>Image</th>
        <th>Text</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= image_tag article.image.thumb if article.image?%></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Delete', article_path(article),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @articles %>




































