<!-- Add a title to each page-->
<% content_for(:title, "Index ") %>
<!-- Blog entries -->
<div class="w3-col l8 s12">

  <!-- BLOG ENTRY -->
  <!-- show article here -->
  <% @articles.each do |article| %>

  <div class="w3-container w3-white w3-margin w3-padding-large">
    <div class="w3-center">
      <h3><%= article.title.upcase %></h3>
      <h5><%= article.user.first_name + " " + article.user.last_name %>, <span class="w3-opacity"><%= article.created_at.strftime("%d-%m-%Y %H:%M") %></span></h5>
    </div>

    <div class="w3-justify">
      <%= image_tag(article.image.url, :alt=>article.title, :style=>"width:100%",:class=>"w3-padding-16") if (article.image?) %>
      <p><strong><%= article.title.titlecase %></strong> <%= article.text %></p>
      <p class="w3-left">
        <button class="w3-button w3-white w3-border" onclick="likeFunction(this, <%= article.id %>)">
          <b><i class="fa fa-thumbs-up"></i> Like<span class="w3-tag w3-white"><%= article.like.size if(article.like.size != 0) %></span></b>
        </button>
      </p>
      
      <p class="w3-right">
        <button class="w3-button w3-black" onclick="document.getElementById(<%= article.id %>).style.display='block'; document.getElementById('comment_on_<%= article.id %>_content').focus();" id="myBtn">
        <b>Replies  </b> <span class="w3-tag w3-white"><%= article.comments.size %></span>
        </button>
      </p>

      
      <p class="w3-clear"></p>
      
      <button type="button" id="btn-show-<%= article.id%>" class="w3-button w3-red w3-small" onclick="showComment(<%= article.id%>)">Show comments</button>

      <div class="w3-row w3-margin-bottom" id="demo-<%= article.id%>" style="display: none;">
        <hr>

        <%= render "comments/comments", article: article %>
      </div>
      <div id='<%= article.id %>' style="display: none;">
        <%= form_for([article, article.comments.build], :remote => true) do |f| %>
        <p>
          <%= f.text_area :body, :cols =>80, :rows => 3, :id => "comment_on_#{article.id}_content" %>
        </p>
        <% if user_signed_in? %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <% end %>
        <button onclick="document.getElementById(<%= article.id %>).style.display='none'" type="button" class="w3-button w3-red">Close</button>
        <%= f.submit "Create comment", class: "w3-button w3-black" %>

        <% end %>
      </div>
      <div id="edit"></div>
    </div>
  </div>
  <% end %>
  <!-- END BLOG ENTRIES -->
</div>



