
<% content_for(:title, "Sign in ")%>
<div class="w3-col l8 s12">
 <div class="row">
  <div class="col-md-12 col-md-offset-2">
    <div class="w3-container w3-black">
      <h2>Login inNNNNN</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "w3-container") do |f| %>

    <div class="w3-center">
      <div class="w3-bar" style="width: 50%">
        <br/>

        <p>
          <%= f.label :email, class: "w3-left" %>
          <%= f.text_field :email, class: "w3-input w3-border", placeholder: :email, autofocus: true %>
          
        </p>

        <p>
          <%= f.label :password, class: "w3-left" %>
          <%= f.password_field :password, class: "w3-input w3-border", placeholder: :password, autocomplete: "off"%>
        </p>

        <% if devise_mapping.rememberable? -%>
          <p>
            <%= f.check_box :remember_me, class: "w3-check w3-left" %>
            <%= f.label :remember_me %>
          </p>
        <% end -%>

        <br/>
        <div class="actions">
          <%= f.submit "Log in", class: "w3-bar-item w3-button w3-black", style: "width: 100%"%>
        </div>

      </div>
      <br/>
      <%= render "devise/shared/links" %>
    </div>
    <% end %>
  </div>
</div>
</div>
