<div class="w3-col l8 s12">
  <%= form_for :user, url: "/personal/update", method: :put, html: {multipart: true} do |form| %>

  <div class="field">
    <%= form.label :first_name %><br />
    <%= form.text_field :first_name%>
  </div>

  <div class="field">
    <%= form.label :last_name %><br />
    <%= form.text_field :last_name%>
  </div>

  <div class="field">
    <%=form.label :birthday, class: "w3-xlarge" %><br />
    <%= form.date_field :birthday, autofocus: true, class: "w3-input w3-pale-blue" %>
  </div>
  <%= form.file_field :image %><br />
  <%= form.hidden_field :id %>
  <%= form.submit "Save", class: "w3-button w3-black"  %><br>
  <% end  %>
</div>

