<div class="w3-col l8 s12">                                            
<h1 class="w3-text-black">Personal information</h1>
<%= img_for(current_user) %>
<p><span class="w3-text-red" style ="text-shadow:1px 1px 0 #444; font-size: 15pt;">Full Name: </span><%= current_user.first_name + " " + current_user.last_name %></p>
<p><span class="w3-text-red" style ="text-shadow:1px 1px 0 #444; font-size: 15pt;">Birthday:</span> <%= current_user.birthday%></p>
<p><span class="w3-text-red" style ="text-shadow:1px 1px 0 #444; font-size: 15pt;">Address:</span><%= current_user.address%></p>
<p><span class="w3-text-red" style ="text-shadow:1px 1px 0 #444; font-size: 15pt;">Religion:</span> <%= current_user.religion%></p>
<p><span class="w3-text-red" style ="text-shadow:1px 1px 0 #444; font-size: 15pt;">Description:</span> <%= current_user.describe%></p>
<%= link_to 'Change information', edit_user_registration_path, class: "w3-button w3-black"%>
<%= link_to 'Tét', patient_path(id: current_user.id), method: :PUT %>
<%= link_to "your label", current_user.first_name, :target => "_blank" %></div>