 <!-- Header -->
 <header class="w3-container w3-center w3-padding-48 w3-white">
  <h1 class="w3-xxxlarge"><b>JANE BLOGLIFE</b></h1>
  <h6>Welcome to the blog of <span class="w3-tag">Jane's world</span></h6>
</header>

<!-- Image header -->
<header id="home">
	<div class="w3-section" style="width:100%;height: 400px;display: inline-flex; margin: 0px;">
		<img class="mySlides" src="/assets/bia1.jpg" style="width:100%;">
		<img class="mySlides" src="/assets/bia2.jpg" style="width:100%;">
		<img class="mySlides" src="/assets/bia3.jpg" style="width:100%;">
	</div>
	<div class="w3-display-left w3-padding-large" style="margin-top: 160px">
		<h1 class="w3-text-white">Jane's</h1>
		<h1 class="w3-jumbo w3-text-white w3-hide-small"><b>FASHION BLOG</b></h1>
	</div>
</header>
