<!-- About/Information menu -->
      <div class="w3-col l4">
        <!-- About Card -->
        <div class="w3-white w3-margin">
        <% if user_signed_in? && current_user.image? %>
          <%= image_tag(current_user.image.url, class: "w3-grayscale-min", width: '100%')%>
          <div class="w3-container w3-black">
            <h4><%= current_user.first_name + ' ' + current_user.last_name%></h4>
            <p><%= current_user.describe %></p>
          </div>
        <% end%>
        </div>
        <hr>
        <!-- Posts -->
        <div class="w3-white w3-margin">
          <div class="w3-container w3-padding w3-black">
            <h4>Popular Posts</h4>
          </div>
          <ul class="w3-ul w3-hoverable w3-white">

          <% @popularArticles.each do |article| %>
            <li class="w3-padding-16">
              <%= image_tag(article.user.image.url, :alt=>article.user.first_name, :style=>"width:50px",:class=>"w3-left w3-margin-right") %>

              <span class="w3-large"><%= article.title %></span>
              <br>
              <span><%= article.user.first_name + " " + article.user.last_name %></span>
            </li>
            <% end %>
          
          </ul>
        </div>
        <hr>

        <!-- Advertising -->
        <div class="w3-white w3-margin">
          <div class="w3-container w3-padding w3-black">
            <h4>Advertise</h4>
          </div>
          <div class="w3-container w3-white">
            <div class="w3-container w3-display-container w3-light-grey w3-section" style="height:200px">
              <span class="w3-display-middle">Your AD Here</span>
            </div>
          </div>
        </div>
        <hr>

        <!-- Tags -->
        <div class="w3-white w3-margin">
          <div class="w3-container w3-padding w3-black">
            <h4>Tags</h4>
          </div>
          <div class="w3-container w3-white">
            <p>
              <span class="w3-tag w3-black w3-margin-bottom">Fashion</span> 

              <% tags.each do |tag| %>
                <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"><%= tag.name %></span>
              <% end %>
            </p>
          </div>
        </div>
        <hr>

        <!-- Inspiration -->
        <div class="w3-white w3-margin">
          <div class="w3-container w3-padding w3-black">
            <h4>Inspiration</h4>
          </div>
          <div class="w3-row-padding w3-white">

            <% @inspirationArticles.each do |article| %>
            <div class="w3-col s6">
              <p><%= image_tag(article.image, :alt=>article.title, :style=>"width:100%;") %></p>
            </div>
            <% end %>
          </div>

        </div>
        <hr>

        <div class="w3-white w3-margin">
          <div class="w3-container w3-padding w3-black">
            <h4>Follow Me</h4>
          </div>
          <div class="w3-container w3-xlarge w3-padding">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
          </div>
        </div>
        <hr>

        <!-- Subscribe -->
        <div class="w3-white w3-margin">
          <div class="w3-container w3-padding w3-black">
            <h4>Subscribe</h4>
          </div>
          <div class="w3-container w3-white">
            <p>Enter your e-mail below and get notified on the latest blog posts.</p>
            <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
            <p><button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="w3-button w3-block w3-red">Subscribe</button></p>
          </div>
        </div>

        <!-- END About/Intro Menu -->
      </div>
