<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
	<a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
	<a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
	<a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>

	<% if user_signed_in? %>

  <%= button_to "Home", root_path, method: :get, class: "w3-bar-item w3-button" %>

		<% if current_user.roles_mask == 1 %>
			<%= link_to "Manager", manager_index_path, class: "w3-bar-item w3-button"%>
		<% end %>
		
		<div class="dropdown w3-bar-item w3-button w3-right">
			<span><%= current_user.first_name + " " + current_user.last_name %></span>
			<div class="dropdown-content w3-right">
				<%= link_to "Articles", articles_path%>
				<%= link_to "About", personal_index_path%>
				<%= link_to "Sign out", destroy_user_session_path, method: :delete%>
			</div>
		</div>
	<% else %>
			<button onclick="showModalSignin();" class="w3-bar-item w3-button w3-right">Sign in</button>

			<button onclick="showModalSignup();" class="w3-bar-item w3-button w3-right">Sign up</button>

		
		<%#= link_to "Sign in", new_user_session_path, class: "w3-bar-item w3-button w3-right"%>
		<%#= link_to "Sign up", new_user_registration_path, method: :get, class: "w3-bar-item w3-button w3-right"%>
	<% end %>

	<a href="#" class="w3-bar-item w3-button "><i class="fa fa-search"></i></a>
</div>

<!-- START MODAL SIGN IN -->
<div id="modelSignIn" class="w3-modal modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:400px">

    <div class="w3-center"><br>
      <span onclick="hideModalSignin()" class="w3-button w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
      <img src="/assets/cas-padlock-icon.png" alt="Avatar" style="width:15%" class="w3-circle w3-margin-top">
    </div>

    <!-- <form class="w3-container" action="/action_page.php"> -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "login-form", class: "w3-container", onsubmit: "signin(this, event);"}) do |f| %>
    
      <div class="w3-section">
        <p id="error-message-login-form" class = "w3-text-red"></p>
        <b><%= f.label :login %></b>
		    <%= f.text_field :login, class: "w3-input w3-border w3-margin-bottom", placeholder:"Enter Username", required: true %>

        <b><%= f.label :password %></b>

        <%= f.password_field :password, autocomplete: "off", class: "w3-input w3-border", placeholder: "Enter Password", required: true %>
        
        <!-- <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me -->

        <%= f.check_box :remember_me, class: "w3-check w3-margin-top" %> Remember me
        <p class="w3-text-blue w3-right w3-margin-top">
        <a onclick="showModalSignup();" class="">Register</a></p>
        
        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Sign in</button>
        <% end %>
        <div class="w3-cell-row">
          <%- if devise_mapping.omniauthable? %>
            <%#- resource_class.omniauth_providers.each do |provider| %>

              <%#- if nil.try(:resource_class) %>
              <div class="w3-container w3-blue w3-cell w3-mobile" style="padding: 0">
                <%= button_to "Sign in with facebook", omniauth_authorize_path(resource_name, "facebook"), class: "w3-button w3-block w3-padding" %>
              </div>
              <%# end -%> 
              
              <p style="width: 2px;"/>
              <div class="w3-container w3-red w3-cell w3-mobile" style="padding: 0">
                <%= button_to "Sign in with google", omniauth_authorize_path(resource_name, "google"), class: "w3-button w3-block w3-padding" %>
              </div>
            <%# end -%> 
          <% end -%>
        </div>
      </div>
    
    <!-- </form> -->

    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
      <button onclick="hideModalSignin()" type="button" class="w3-button w3-red">Cancel</button>
      <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
    </div>

  </div>
</div>
<!-- END MODAL SIGN IN -->

<!-- START MODAL SIGN UP -->
<div id="modelSignUp" class="w3-modal modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

    <div class="w3-center"><br>
      <span onclick="hideModalSignup();" class="w3-button w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
      <img src="/assets/register-education.png" alt="Avatar" style="width:10%" class="w3-circle w3-margin-top">
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "new-user-form",class: "w3-container",onsubmit: "signin(this, event);"}) do |f| %>
    <div class="w3-section">
      <p id="error-message-new-user-form" class = "w3-text-red"></p>
      
      <b><%= f.label :your_name %></b>
      <div class="w3-cell-row">
        <div class="w3-container w3-cell" style="width: 50%; padding: 0">
          <%= f.text_field :first_name, required: true, class: "w3-input w3-border w3-margin-bottom", placeholder:"First name" %>
        </div>
        <div class="w3-container w3-cell" style="width: 50%; padding: 0">
          <%= f.text_field :last_name, required: true, class: "w3-input w3-border w3-margin-bottom", placeholder:"Last name" %>
        </div>
      </div>

      <b><%= f.label :email %></b>
      <%= f.email_field :email, required: true, class: "w3-input w3-border w3-margin-bottom", placeholder:"Enter email" %>

      <b><%= f.label :password %></b>
      <%= f.password_field :password, required: true, class: "w3-input w3-border w3-margin-bottom", placeholder:"Enter password" %>

      <b><%= f.label :password_confirmation %></b>
      <%= f.password_field :password_confirmation, required: true , class: "w3-input w3-border w3-margin-bottom", placeholder:"Enter password again", autocomplete: "off" %>


      <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Sign up</button>
    </div>
    <% end %>
    <!-- </form> -->

    <div class="w3-container w3-border-top w3-padding-12 w3-light-grey">
      <span class="w3-right w3-padding w3-hide-small"><a onclick="showModalSignin();">Sign in</a></span>
    </div>

  </div>
</div>
<!-- END MODAL SIGN UP -->
