<!DOCTYPE html>
<html>
<head>
  <title><%= make_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
    body {font-family: "Open Sans"}

    .mySlides {display:none}
  </style>
</head>

<body class="w3-light-grey">
<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>
<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <!-- Navigation bar with social media icons -->
  <%= render  "layouts/nav" %>
  <!-- END Navigation bar with social media icons -->
<!-- w3-content defines a container for fixed size centered content,
  and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content" style="max-width:1600px">
    <!-- Header -->
    <%= render  "layouts/header" %>
    <!-- END Header -->

    <!-- Grid -->
    <div class="w3-row w3-padding w3-border">

      <!-- START Custom content -->
      <div class="w3-col l8 s12 container-articles">
      <%= yield %>
      </div>
      <!-- END Custom content -->

      <!-- START About/Intro Menu -->
      <%= render  "layouts/introMenu", popularArticles: @popularArticles, inspirationArticles: @inspirationArticles, tags: @tags %>
      <!-- END About/Intro Menu -->
      <!-- END GRID -->
    </div>
    <!-- END w3-content -->
  </div>
  <!-- Subscribe Modal -->
  <%= render  "layouts/subscribe" %>
  <!-- END Subscribe Modal -->
  <!-- Footer -->
  <%= render  "layouts/footer" %>
  <!-- END Footer -->
  
</body>
</html>
