<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="w3-col l8 s12 w3-card-4"">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |form| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= form.label :first_name %><br />
    <%= form.text_field :first_name%>
  </div>

  <div class="field">
    <%= form.label :last_name %><br />
    <%= form.text_field :last_name%>
  </div>

  <div class="field">
    <%=form.label :birthday, class: "w3-xlarge" %><br />
    <%= form.date_field :birthday, autofocus: true, class: "w3-input w3-pale-blue" %>
  </div>
  <div class="field">
    <%= form.label :address %><br />
    <%= form.text_field :address%>
  </div>
  <div class="field">
    <%= form.label :religion %><br />
    <%= form.text_field :religion%>
  </div>
  <div class="field">
    <%= form.label :describe %><br />
    <%= form.text_area :describe %>
  </div>
  <%= form.file_field :image %><br />
  
  <div class="field">
    <%= form.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= form.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= form.submit "Update" %>
  </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>